body {
    width: auto;
    text-align: center;
}

div.container {
    background-color: blueviolet;
}

h1 {
    font-family: 'Inconsolata', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
    color: wheat;
}