body {
    width: auto;
    text-align: center;
}

div.container {
    background-color: rgb(211, 196, 164);
}

h1 {
    font-family: 'Inconsolata', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
    color: rgb(0, 0, 0);
}